<div class="sidebar">
  <div class="filter-section">
    <p>Author Name</p>
    <div class="filter">
        <input type="checkbox" id="JKRowling" name="JKRowling" value="JKRowling" />
        <label for="JKRowling">JKRowling</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="WilliamShakespeare" name="WilliamShakespeare" value="WilliamShakespeare" />
        <label for="WilliamShakespeare">William Shakespeare</label>
    </div>
    <div class="filter">
        <input type="checkbox" id="JamesJoyce" name="JamesJoyce" value="JamesJoyce" />
        <label for="JamesJoyce">James Joyce</label>
    </div>
  </div>
</div>
