<div class="content-main">
    <app-sidebar></app-sidebar>
    <div class="card-cointainer">
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
        <app-book-card [card]="card"></app-book-card>
    </div>
</div>